<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
</head>
<body style="background-color: #336699">
<br>
<a  href="/logout" style="float: right; color:white ;text-decoration: none;" >退出登录</a>
<br>
<br>
<table align="center" width="1500px" height="700px" border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2" align="center" height="80px">
            <h2 style="color: #FFFFFF">后台管理系统</h2>
        </td>
    </tr>

    <tr height="80%">
        <td width="15%" height="100%" valign="top" align="center">
            <h3 style="color: white">系统菜单</h3><br><br>
            <p>
                <a href="/riskarea" style="color:whitesmoke; text-decoration: none;"  target="content">查看风险地区</a>
            </p>
            <br>
            <p>
                <a href="/updateArea"  style="color:whitesmoke; text-decoration: none"  target="content">更新风险地区</a>
            </p>
            <br>
            <p>
                <a href="/punch" style="color:whitesmoke; text-decoration: none" target="content">查看未打卡名单</a>
            </p>
            <br>
            <p>
                <a href="/fever" style="color:whitesmoke; text-decoration: none" target="content">查看发热名单</a>
            </p>
            <br>
            <p>
                <a href="/channel" style="color:whitesmoke ; text-decoration: none" target="content">查看途径重点区域名单</a>
            </p>
        </td>
        <td width="80%" height="100%" style="background-color: honeydew">
            <iframe name="content" src="welcome.html" height="100%" width="100%"></iframe>
        </td>
    </tr>
</table>




</body>
</html>