<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
</head>
<script src="js/jquery-3.5.1.js"></script>
<script>
    function findFever() {
        $.ajax({
                url: "/findFever",
                type: "get",
                dataType: "json",
                data: {
                    "date": $('#date').val(),
                },

                success: function (data) {
                    $("#t_body").empty();
                    var str = "";
                    for (var i = 0; i < data.length; i++) {
                        str += "<tr>" +
                            "<td>" + data[i].userName + "</td>" +
                            "<td>" + data[i].account + "</td>" +
                            "<td>" + data[i].certificates + "</td>" +
                            "<td>" + data[i].certificatesNo + "</td>" +
                            "<td>" + data[i].identity + "</td>" +
                            "<td>" + data[i].campus + "</td>" +
                            "<td>" + data[i].college + "</td>" +
                            "<td>" + data[i].classes + "</td>" +
                            "<td>" + data[i].phonenumber + "</td>" +
                            "<td>" + data[i].emergencycontact + "</td>" +
                            "<td>" + data[i].emergencynumber + "</td>" +
                            "<td>" + data[i].clockList[0].temperature + "</td>" +
                            "<td> <a href=/allRecord/"  + data[i].account + "/1" +">查看</a></td>" +
                            "</tr>";
                    }
                    console.log(str);
                    $("#t_body").append(str);

                }

            }
        )
    }
    function init(){
        date  = '[[${session.fdate}]]'
        $("#date").val(date);
        findFever();
    }
</script>
<body onload="init()">
<input type="date" th:onchange="findFever()" id="date">
<h2 align="center">发热名单(37.3℃以上)</h2>
<table border="1" align="center">
    <thead>
    <tr>
        <th>姓名</th>
        <th>学号</th>
        <th>证件类型</th>
        <th>证件号码</th>
        <th>身份类型</th>
        <th>校区</th>
        <th>学院</th>
        <th>班级</th>
        <th>电话</th>
        <th>紧急联系人</th>
        <th>紧急联系人电话</th>
        <th>体温</th>
        <th>详细信息</th>
    </tr>
    </thead>
    <tbody id="t_body">

    </tbody>
</table>


</body>
</html>